/out/production/MapReduce/CheckInput.class
/out/production/MapReduce/GUI.class
/out/production/MapReduce/HomeScreen.class
/out/production/MapReduce/Main.class
/out/production/MapReduce/Mapper.class
/out/production/MapReduce/META-INF/MapReduce.kotlin_module
/out/production/MapReduce/Reducer.class
/out/production/MapReduce/Splitting.class
/Mapper.java
/Reducer.java
/test.java
/Output/MapperInfo/mapperInfo1.txt
/Output/MapperInfo/mapperInfo2.txt
/Output/MapReduceSystem.txt
/Output/output.txt
/Output/ReducerInfo/reducerInfo1.txt
/Output/ReducerInfo/reducerInfo2.txt
/out/production/MapReduce/Analyser.class
/out/production/MapReduce/test.class
/src/test.java
/out/production/MapReduce/Checker.class
/out/production/MapReduce/MapperManager.class
/out/production/MapReduce/MapReduceSystem.class
/out/production/MapReduce/ReducerManager.class
/out/production/MapReduce/Screen.class
/out/production/MapReduce/Splitter.class
/out/production/MapReduce/StatusReporter.class
/src/Mapper.java
/output2.txt
/out/production/MapReduce/Common/Checker.class
/out/production/MapReduce/View/HomeScreen.class
/out/production/MapReduce/System/MappersManager.class
/out/production/MapReduce/System/MapReduceSystem.class
/out/production/MapReduce/ReducerNode/Preparator.class
/out/production/MapReduce/ReducerNode/Reducer.class
/out/production/MapReduce/System/ReducerManager.class
/out/production/MapReduce/System/StatusReporter.class
/out/production/MapReduce/ReducerNode/WriterOutput.class
