/out/production/MapReduce/CheckInput.class
/out/production/MapReduce/GUI.class
/out/production/MapReduce/HomeScreen.class
/out/production/MapReduce/Main.class
/out/production/MapReduce/Mapper.class
/out/production/MapReduce/META-INF/MapReduce.kotlin_module
/out/production/MapReduce/Reducer.class
/out/production/MapReduce/Splitting.class
/Mapper.java
/Reducer.java
/test.java